.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave svg {
  position: relative;
  display: block;
  width: calc(195% + 1.3px);
  height: 413px;
  transform: rotateY(180deg);
}

.wave .shape-fill {
  /* fill: #ffffff; */
  fill: rgb(255, 227, 228);
}
